@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Zen+Kurenaido&display=swap');

$primary: #8c7b75;
$body-bg: #f9f7f2;
$body-color: #3e3a39;

$font-family-sans-serif: 'Noto Sans JP', sans-serif;